<template>
    <document-head title="Linked Apps"/>

    <app-layout>
        <template #breadcrumbs> / <Link href="/admin" class="underline">admin</Link></template>

        <h6 class="mx-32">Linked Apps</h6>

        <span class="underline text-center"><Link href="/">Go Back</Link></span>
    </app-layout>
</template>
<script>
import {defineComponent} from 'vue'
import {Head as DocumentHead, Link} from '@inertiajs/inertia-vue3';
import AppLayout from "@/Pages/Beta/Layout";
import {Inertia} from "@inertiajs/inertia";

export default defineComponent({
    components: {
        AppLayout,
        DocumentHead,
        Link,
    },
    props: {
        clients: Array
    },
    methods: {
        requestClient(token) {
            axios.delete('/settings/connection/' + token);
            Inertia.reload({ only: ['clients'] });
        }
    }
})
</script>
